@model ListVM

<h1>Create New</h1>
<h4>List item</h4>

<form action="/ToDoItems/SaveNew" method="post">
    <div class="mb-3">
        <label for="Name" class="form-label">Name:</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Deadline" class="form-label">Deadline</label>
        <input asp-for="Deadline" class="form-control">
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
} 